/*
 * Font Name: cs-genio-mono
 */
@font-face {
  font-family: "cs-genio-mono";
  src: url("../fonts/cs-genio-mono/CSGenioMono-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "anton";
  src: url("../fonts/anton/Anton-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}